<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons>
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My Pickup-calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-pickup-call-card status="On hold" updateAt="25/04/2021 16:29" createdAt="24/04/2021" notes="we have two bags that are full, one with plastic and the other with glasses">
    
  </app-pickup-call-card>
  
  <app-pickup-call-card status="Processing" updateAt="03/04/2021 11:04:00" createdAt="24/04/2021" notes="we have two bags that are full, one with plastic and the other with glasses" ></app-pickup-call-card>
  
  <app-pickup-call-card status="Finished" updateAt="02/04/2021 11:04:00" createdAt="01/04/2021" value="$1500"></app-pickup-call-card>
</ion-content>
