

<ion-content [fullscreen]="true">
  <div class="flex-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Reciclica</ion-card-title>
       
      </ion-card-header>
      
      <ion-card-content>
        <ion-item>
          <ion-input label="Email" labelPlacement="floating" placeholder="Enter text" type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Password" labelPlacement="floating" placeholder="Enter text" type="password"></ion-input>
        </ion-item>
        <ion-button color="dark" fill="clear" size="full">Forgot email/ password</ion-button>
        <ion-button color="success" size="full" (click)="login()">Login</ion-button>
        <ion-button color="success" fill="clear" size="full" (click)="register()">Register</ion-button>
        
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
