<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button title=""></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

 <ion-card>
  <ion-card-header>
    <ion-card-title>What do you want to do with the recycled waste?</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-radio-group>
      <ion-item>
        <ion-radio value="CLIENT" label-placement="end" justify="start">I want to BUY IT</ion-radio><br />
      </ion-item>
      
      <ion-item>
        <ion-radio value="PARTNER" label-placement="end" justify="start">I want to SELL IT</ion-radio><br />
      </ion-item>
      
    </ion-radio-group>
  </ion-card-content>
 </ion-card>

 <ion-card>
  <ion-card-header>
    <ion-card-title>Contact</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-input label="Name" labelPlacement="floating" placeholder="Enter name" type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input label="Email" labelPlacement="floating" placeholder="Enter email" type="email"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input label="Password" labelPlacement="floating" placeholder="Enter password" type="password"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input label="Confirm Password" labelPlacement="floating" placeholder="Confirm password" type="password"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input label="Phone Number" labelPlacement="floating" placeholder="Enter phone number" type="tel"></ion-input>
    </ion-item>
    
  </ion-card-content>
 </ion-card>

 <ion-card>
  <ion-card-header>
    <ion-card-title>Address information</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-input label="Address" labelPlacement="floating" placeholder="Enter address" type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input label="Number" labelPlacement="floating" placeholder="Enter number" type="tel"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input label="Neighborhood" labelPlacement="floating" placeholder="Enter neighborhood" type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input label="Complement" labelPlacement="floating" placeholder="Complement" type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input label="Zip code" labelPlacement="floating" placeholder="Enter zip code" type="tel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="State" labelPlacement="floating" placeholder="State" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="City" labelPlacement="floating" placeholder="City" type="text"></ion-input>
  </ion-item>
  </ion-card-content>
 </ion-card>
 <ion-button size="full" color="light" (click) = onRegister()>Register</ion-button>
</ion-content>
