<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button title=""></ion-back-button>
    </ion-buttons>
    <ion-title>Pickup-call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSQk_eT0NLGzDbClrdTQZsNGpdjUdcfT4kLY5Q4F6NeMsYOXXYQvDK-uvEoEmBz55Zz80&usqp=CAU">
 <ion-card>
  <ion-card-content>
    <p>Address: Fake street, 111</p>
    <p>Complement: Apt, 222</p>
    <p>Neighborhood: Fake street, 111</p>
    <p>Zip code: 111</p>
    <p>Cit name: Fake street, 111</p>
  </ion-card-content>
 </ion-card>
 <ion-list>
  <ion-item lines="inset">
    <ion-label position="floating">Notes</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>
 </ion-list>
 <ion-button size="full" color="success" (click)="newPickupCall()">
  CREATE PICKUP CALL
 </ion-button>
</ion-content>
